<div class="container-fluid main-div">
    <div class="col-md-12 text-div" >
        <h3>Daignostics</h3>
        <h4>Subheader...</h4>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a ui-sref="daignostics.ping">Ping</a>
        </li>
        <li role="presentation">
            <a ui-sref="daignostics.networkinterface">Network Interfaces</a>
        </li>
        <li role="presentation">
            <a ui-sref="daignostics.scantool">Scan Tool</a>
        </li>
    </ul>
    <div>
        <ui-view></ui-view>
    </div>
</div>